doctype html
html
  head
    meta(charset='UTF-8')
    title Sistemas de la Facultad de Contaduría y Administración Xalapa
    link(href='css/login.css', rel='stylesheet')
    script(src='js/xdomain.js')
    script(src='js/jquery.js')
    script(src='js/prefixfree.min.js')
    script(src='js/login.js')
  body
    .body
    .grad
    .header
      div
        | Sistemas
        span FCA
    br
    .login
      input(id='user', type='text', placeholder='Usuario', name='user')
      br
      input(id='password', type='password', placeholder='Contraseña', name='password')
      br
      input(id='login', type='button', value='Login')    
    script(src='js/login.js')